<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <targets>
    <!-- File target with size-based archiving -->
    <target xsi:type="File" name="file" fileName="${basedir}/qb-port-updater.log"
            layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=toString}"
            archiveFileName="${basedir}/archives/qb-port-updater.{#}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="10000000"
            maxArchiveFiles="5"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Console target for interactive runs -->
    <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=toString}" />
  </targets>

  <rules>
    <!-- Write Info and above to file and console -->
    <logger name="*" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>
